body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}

/* CSS for the Crime Count level box */
.crime-count-box {
  position: absolute;
  bottom: 10%;
  left: 15rem;
  transform: translate(-50%, -50%);
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0.8;
  z-index: 1; /* Keep it above other elements */
}

.zoom-count-box:hover {
  background-color: #005bb8;
}


/* CSS for the zoom level box */
.zoom-level-box {
  position: absolute;
  bottom: 5%;
  left: 15rem;
  transform: translate(-50%, -50%);
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0.8;
  z-index: 1; /* Keep it above other elements */
}

.zoom-level-box:hover {
  background-color: #005bb8;
}

/* CSS for the legend container */
.legend-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 40px); /* Adjust the value to fit your layout */
  overflow-y: auto; /* Add scrollbars when needed */
  z-index: 999; /* Adjust the z-index value as needed */
}

/* CSS for the legend header */
.legend-header {
  font-weight: bold;
  margin-bottom: 5px;
}

/* CSS for each legend item */
.legend-item {
  margin-bottom: 5px;
}

/* CSS for the color box within each legend item */
.legend-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #ccc;
  vertical-align: middle;
}


